.title {
    display: block;
    color: white;
    text-align: center;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 32px;
    max-width: 640px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    max-width: 300px;
    font-family: "Inter";
}

.subtitle {
    display: block;
    color: white;
    text-align: center;
    margin: 0 auto 40px auto;
    font-size: 16px;
    line-height: 20px;
    max-width: 300px;
    font-weight: 400;
    font-family: "Inter";
}

.backgroundPhoto {
    position: relative;
    width: 100%;
    max-width: 100%;
    min-height: 200px;
    margin: 0;

    background: center/cover url("../../images/womanSleeping.png") no-repeat;

    object-position: center;
    object-fit: cover;
}

.stopovers {
    position: absolute;
    top: 5%;
    left: 50%;

    width: 90%;
    height: auto;

    transform: translateX(-50%);

    object-position: center;
    object-fit: cover;
}

.caption {
    color: white;
    width: 100%;
    margin: 8px 0 0 16px;

    letter-spacing: .15em;
    text-transform: uppercase;

    font-size: 10px;
    line-height: 14px;
    font-family: "Inter";
}


@media (min-width: 768px) {
    .title {
        font-size: 96px;
        font-weight: 900;
        line-height: 100px;
        max-width: 720px;
    }

    .subtitle {
        font-size: 30px;
        margin-bottom: 56px;
        max-width: 640px;
        line-height: 36px;
    }

    .backgroundPhoto {
        min-height: 460px;
        padding: 0;
        width: auto;
    }

    .stopovers {
        top: 41px;
    }

    .caption {
        width: auto;
        margin-right: auto;
        margin-left: 24px;
    }
  }

  @media (min-width: 1024px) {
    .subtitle {
        margin-bottom: 64px;
    }

    .backgroundPhoto {
        min-height: 615px;
        margin-left: 48px;
        margin-right: 48px;
    }

    .caption {
        margin-top: 8px;
        margin-left: 48px;
    }
  }

  @media (min-width: 1280px) {

    .backgroundPhoto {
        margin-left: 148px;
        margin-right: 148px
    }

    .caption {
        margin-left: 148px;
    }
  }