.wrapper {
    text-decoration: none;
    min-height: 200px;
    overflow: auto;
    display: grid;
    margin-top: 66px;
    opacity: 1;
}

.rectangle {
    grid-row: 1;
    grid-column: 1;
    opacity: 0.3;
    background-color: #2A2C2F;
    z-index: 1;
}

.wrapper:hover .rectangle {
    transition: opacity .4s;
    opacity: 0.8;
}

.coverPhoto {
    grid-row: 1;
    grid-column: 1;
width: 100%;
height: 100%;
z-index:0;
}

.text {
    grid-row: 1;
    grid-column: 1;
    z-index: 2;
}

.title {
    max-width: 238px;
    margin: 33px auto 0 auto;
    color: white;
    text-align: center;
    font-family: "InterBlack";
    font-size: 32px;
    line-height: 35px;
}

.subtitle {
    margin: 16px auto 0 auto;
    min-width: 238px;
    color: white;
    text-align:center;
    font-family: "InterRegular";
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
}

@media (min-width: 768px) {
    .wrapper {
        min-height: 480px;
    }
    .title {
        max-width: 560px;
        margin-top: 115px;
        font-size: 72px;
        line-height: 76px;
    }

    .subtitle {
        margin-top: 32px;
        max-width: 360px;
        font-size: 18px;
        line-height: 22px;
    }
}

@media (min-width: 1024px) {
    .wrapper {
        min-height: 640px;
    }
    .title {
        margin-top: 195px;
    }
}

@media (min-width: 1280px) {
    .wrapper {
        margin: auto;
        min-height: 740px;
        max-width: 1184px;
    }
    .title {
        margin-top: 245px;
    }
}