.wrapper {
    max-width: 288px;
    margin: 64px auto 0 auto;

}

.title {
    display: inline-block;
    font-family: "InterBlack";
    color: white;
    font-size: 32px;
    line-height: 35px;
}

.introText {
    margin-top: 40px;
    font-family: "InterRegular";
    color: white;
    font-size: 16px;
    line-height: 26.08px;
}

.introList {
    display: inline-block;
    padding-inline-start: 0px;
    list-style: none;
    margin-top: 34px;
}

.introItem {
    font-family: "InterRegular";
    font-size: 12px;
    line-height: 18px;
    color: white;
}

.boldItem {
    font-weight: bold;
}

@media (min-width: 768px) {
    .wrapper {
        max-width: 720px;
    }

    .title {
        font-size: 54px;
    }
}

@media (min-width: 1024px) {
    .wrapper {
        max-width: 690px;
        margin: 64px 286px 0 48px
    }
}

@media (min-width: 1280px) {
    .wrapper {
        max-width: 690px;
        margin: 64px 442px 0 148px
    }
}